@model ConfirmMailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <h2>Daşınan e-poçt ünvanı: @ViewBag.Email</h2>
                @*<label>E-poçt Ünvanı: </label>*@
                <input type="hidden" class="form-control" asp-for="Email" value="@ViewBag.Email" />
                <br />
                <label>E-poçt ünvanınıza gələn 6 rəqəmli kodu daxil edin: </label>
                <input type="text" class="form-control" asp-for="ConfirmCode" />
                <br />
                <button class="btn btn-primary">Hesabı aktifləşdir</button>
            </form>
        </div>
    </div>

</div>

